@media (prefers-reduced-motion: no-preference) {
	html,
	body {

		margin: 0;
		padding: 0;
		scroll-snap-type: y mandatory;
		scroll-behavior: smooth;
		scroll-padding: 0;
	}
	section {
		scroll-snap-align: start;
		scroll-margin: 0;
	}
}

html,
body {
	position: relative;
}

section {
	background-image: linear-gradient(lightgreen, pink);
	padding: 0;
	margin: 0;
}



section > * {

	max-width: 100em;
	margin: 0;
	font-family: Arial bold, Helvetica, sans-serif;
	font-size: 20;
	color: #27AB6B;
	text-align: left;
}

section h2 {
		
	font-size: 10em;
	text-align: center;
	line-height: 2rem;
	-webkit-backface-visibility: hidden;
}



section p {
	text-align: left;
	-webkit-backface-visibility: hidden;

}
/* Colored sections */

#part_1 {
	 background: black;
	background-image: url("saws.png");
	background-size: cover;	
}

	
#part_2 {
	background: black;
	background-image: url("lathet.png");
	background-size: cover;
}


#part_3 {
	background: black;
	background-image: url("frameinjig.png");
		background-size: cover;
}

#part_4 {
	background: black;
	background-image: url("frameinjig2.png");
		background-size: cover;
	}
#part_5 {
	background: black;
	background-image: url("forkdropout.png");
		background-size: cover;
}

#part_6 {
	background: black;
	background-image: url("fender.png");
		background-size: cover;
}
#part_7 {
	background: black;
}
@media screen and (max-width: 32em) {
	section h2 {
		font-size: 2em;
	}
	section p {
		width: 100%;
		left: 5%;
		margin-top: 0;
	}
}
